.login-image-col {
  background-image: url("../../images/logo.png");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-wal {
  background: #4da484;
  color: #fff;
}

.btn-wal:hover {
  background-color: #4db580;
  color: #fff;
}

table:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
